#
# Copyright (c) 2026 Nordic Semiconductor ASA
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

config ZEGO_LED
	bool "Zego LED module"
	depends on DK_LIBRARY
	help
	  Enable the shared Zego LED module. Provides a simple LED state API
	  driven by zbus messages from other modules.

if ZEGO_LED

module = ZEGO_LED
module-str = zego_led
source "subsys/logging/Kconfig.template.log_config"

endif # ZEGO_LED
