#
# Copyright (c) 2026 Nordic Semiconductor ASA
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

config ZEGO_NETWORK
	bool "Zego network module"
	depends on WIFI
	help
	  Enable the shared Zego Wi-Fi network module. Manages STA / AP / P2P
	  connection lifecycle and publishes connectivity events on zbus.

if ZEGO_NETWORK

module = ZEGO_NETWORK
module-str = zego_network
source "subsys/logging/Kconfig.template.log_config"

endif # ZEGO_NETWORK
